
.inner1 {
	/*margin: 30px;\*/
  color: grey;
  border-width: 2px;
  margin auto;
	padding: 1px;
	background-color: #F8F8F8;
	width: 2px;
}

.inner2 {
	/*margin: 30px;*/
  border-width: 3px;
	margin: auto;
	padding: 1px;
	background-color: #F0F0F0;
	width: 2px;
}
